#include "AnNotationDialogRes.h"
#include "../../GuiCommon.rc"

#define xc 250
#define yc 208

IDD_DIALOG_ANNOTATION  MY_DIALOG
CAPTION "注释"
BEGIN
LTEXT     "压缩文件注释(&C):",  IDC_TEXT_ANNOTATION, m,m,xc-100,12
	EDITTEXT   IDC_EDITTEXT_ANNOTATION, m, 20, 250, 180, ES_MULTILINE  | ES_WANTRETURN | WS_VSCROLL 
	DEFPUSHBUTTON    "从文件加载注释(&F)",  IDC_BUTTON_FILE_ANNOTATION, m+150,m-2,100,12
	DEFPUSHBUTTON 	 "确定",		IDC_BUTTON_ENSURE_ANNOTATION, m+95,205,40,13
	DEFPUSHBUTTON 	 "取消",		IDC_BUTTON_EXIT_ANNOTRTION,m+140,205,40,13
 	DEFPUSHBUTTON    "帮助",		IDC_BUTTON_HELP_ANNOTATION, m+185,205,40,13   

END

