#include "FindProcessDialogRes.h"
#include "../../GuiCommon.rc"

#define xc 295
#define yc 205

IDD_DIALOG_FIND_PROCESS MY_DIALOG
CAPTION "搜索结果"
BEGIN
 CONTROL  "List1", IDC_FINDPROCESS_LIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP,
            m, 45, 300, 130

DEFPUSHBUTTON "后台(&B)",IDC_FINDPROCESS_BUTTON_BACK, m, 178 , 70, 15
PUSHBUTTON    "暂停(&P)",IDC_FINDPROCESS_BUTTON_PAUSE, m + 75, 178 , 70, 15
PUSHBUTTON    "关闭",    IDC_FINDPROCESS_BUTTON_CLOSE, m + 150, 178 , 70, 15
PUSHBUTTON    "帮助",    IDC_FINDPROCESS_BUTTON_HELP, m + 225, 178 , 70, 15
PUSHBUTTON    "解压到",    IDC_FINDPROCESS_BUTTON_EXTRACT, m,5 , 40, 30
PUSHBUTTON    "查看",    IDC_FINDPROCESS_BUTTON_CHECK, m+45,5 , 40, 30
PUSHBUTTON    "定位",    IDC_FINDPROCESS_BUTTON_SEARCH, m+90,5 , 40, 30
GROUPBOX      "",        IDC_FINDPROCESS_GROUP_PATH, 1, 198, 305 ,18,WS_EX_STATICEDGE
LTEXT         "正在处理",IDC_FINDPROCESS_TEXT_PATH , 3, 204, 40 ,10
LTEXT         "",IDC_FINDPROCESS_TEXT_TITLE , 46, 204, 260 ,10
END
