#include "FindDialogRes.h"
#include "../../GuiCommon.rc"

#define xc 290
#define yc 125

IDD_DIALOG_FIND MY_DIALOG
CAPTION "查找文件"
BEGIN
	GROUPBOX "要找什么",  IDC_FIND_DLG_GROUP_FILENAME,m, m +5, 138, 100

	LTEXT      "要查找的文件名全称(&N)", IDC_FIND_DLG_TEXT_FILENAME,  m+5, m+18, 125, 60
	COMBOBOX               IDC_FIND_DLG_COMBO_FILENAME,  m+5, m + 28, 125, 60, MY_COMBO_WITH_EDIT

	LTEXT      "要查找的文件名包含的字符串(&S)", IDC_FIND_DLG_TEXT_USTRING,  m+5, m + 43, 125, 60
	COMBOBOX               IDC_FIND_DLG_COMBO_USTRING,  m+5, m + 53,125, 60, MY_COMBO_WITH_EDIT

	CONTROL   "区分大小写(&C)",       IDC_FIND_DLG_BOX_NAME_ONE ,MY_CHECKBOX, m+5, m + 73 ,100, 10
	CONTROL      "使用所有的字符集(&T)",    IDC_FIND_DLG_BOX_NAME_TWO ,MY_CHECKBOX, m+5, m + 83, 100, 10
	CONTROL      "十六进制搜索(&H)",    IDC_FIND_DLG_BOX_NAME_THREE ,MY_CHECKBOX, m+5, m +93, 100, 10


	GROUPBOX "在哪里查找",  IDC_FIND_DLG_GROUP_LOCATION,m+145, m +5, 140, 100

	LTEXT      "磁盘和文件夹(&D)", IDC_FIND_DLG_TEXT_LOCATION,  m+150, m+18, 100, 60
	COMBOBOX               IDC_FIND_DLG_COMBO_LOCATION,  m+150, m + 28, 125, 60, MY_COMBO_WITH_EDIT

	LTEXT      "压缩文件类型(&R)", IDC_FIND_DLG_TEXT_TYPE,  m+150, m + 43, 100, 60
	COMBOBOX               IDC_FIND_DLG_COMBO_TYPE,  m+150, m + 53,125, 60, MY_COMBO_WITH_EDIT

	CONTROL   "在子目录中查找(&L)",       IDC_FIND_DLG_BOX_LOCATION_ONE ,MY_CHECKBOX, m+150, m + 73 ,100, 10
	CONTROL      "在文件中查找(&F)",    IDC_FIND_DLG_BOX_LOCATION_TWO ,MY_CHECKBOX, m+150, m + 83, 100, 10
	CONTROL      "在压缩文件中查找(&A)",    IDC_FIND_DLG_BOX_LOCATION_THREE ,MY_CHECKBOX, m+150, m +93, 100, 10

	DEFPUSHBUTTON  "确定",    IDC_FIND_DLG_BUTTON_OK,m+20,m+110,50, 14

	PUSHBUTTON  "取消",    IDC_FIND_DLG_BUTTON_CANCLE,m+75,m+110,50, 14

	PUSHBUTTON  "保存(&V)",    IDC_FIND_DLG_BUTTON_SAVE,m+165,m+110,50, 14

	PUSHBUTTON  "帮助",    IDC_FIND_DLG_BUTTON_HELP,m+220,m+110,50, 14

END
