#include "FMAdvancedPageRes.h"
#include "../../GuiCommon.rc"

#define xc 304
#define yc 207

IDD_PAGE_FMADVANCED MY_PAGE
CAPTION "高级"
BEGIN
	
	GROUPBOX "文件时间",IDC_ADV_PAGE_GROUP_TIME,m, m, 140, 50
    CONTROL  "保存修改时间", IDC_ADV_PAGE_BOX_TIME_ONE,MY_CHECKBOX, m+5, m + 10, 100, 10
    CONTROL  "保存创建时间", IDC_ADV_PAGE_BOX_TIME_TWO, MY_CHECKBOX, m+5, m + 22, 100, 10
    CONTROL  "设置最近访问时间", IDC_ADV_PAGE_BOX_TIMEE_THREE, MY_CHECKBOX,m+5, m + 34, 100, 10

	GROUPBOX "文件路径",IDC_ADV_PAGE_GROUP_PATH,m, m + 57, 140, 50
    CONTROL  "解压完全路径", IDC_ADV_PAGE_BOX_PATH_ONE,MY_CHOOSEBOXTWO, m+5, m + 67, 100, 10
    CONTROL  "不解压路径", IDC_ADV_PAGE_BOX_PATH_TWO, MY_CHOOSEBOXONE, m+5, m + 79, 100, 10
    CONTROL  "解压绝对路径", IDC_ADV_PAGE_BOX_PATH_THREE, MY_CHOOSEBOXONE,m+5, m + 91, 100, 10
	
	GROUPBOX "属性",IDC_ADV_PAGE_GROUP_PROPTREY,m+150, m, 150, 50
    CONTROL  "清除存档属性", IDC_ADV_PAGE_BOX_PROPTREY_ONE,MY_CHECKBOX, m+155, m + 10, 100, 10
    CONTROL  "设置文件安全信息", IDC_ADV_PAGE_BOX_PROPTREY_TWO, MY_CHECKBOX, m+155, m + 22, 100, 10
    CONTROL  "设置压缩属性", IDC_ADV_PAGE_BOX_PROPTREY_THREE, MY_CHECKBOX,m+155, m + 34, 100, 10

	GROUPBOX "删除压缩文件",IDC_ADV_PAGE_GROUP_DEL,m+150, m + 57, 150, 50
    CONTROL  "永不", IDC_ADV_PAGE_BOX_DEL_ONE,MY_CHOOSEBOXTWO, m+155, m + 67, 100, 10
    CONTROL  "询问确认", IDC_ADV_PAGE_BOX_DEL_TWO, MY_CHOOSEBOXONE, m+155, m + 79, 100, 10
    CONTROL  "总是", IDC_ADV_PAGE_BOX_DEL_THREE, MY_CHOOSEBOXONE,m+155, m + 91, 100, 10

	GROUPBOX "其它",IDC_ADV_PAGE_GROUP_OTHER,m, m+114, 300, 40
    CONTROL  "检查认证信息", IDC_ADV_PAGE_BOX_OTHER_ONE,MY_CHECKBOX, m+5, m + 114+10, 150, 10
    CONTROL  "如果其它酷压副本被激活则等待", IDC_ADV_PAGE_BOX_OTHER_TWO, MY_CHECKBOX, m+5, m + 114+22, 150, 10
END


