#include"InforDialogRes.h"
#include "../../GuiCommon.rc"

#define  xc   240
#define yc   230

IDD_DIALOG_INFOR MY_DIALOG
CAPTION "信息"
BEGIN
      GROUPBOX "", IDC_INFOR_GROUP_ONE,m,m,220,20
      LTEXT "项目", IDC_INFOR_TEXT_STATIS_STATE,m+10,m+8,20,10
      LTEXT  "信息",IDC_INFOR_TEXT_ACCOMPLISH,m+90,m+8,100,10

      GROUPBOX "",IDC_INFOR_GROUP_TWO,m,m+16,220,40
      LTEXT "",IDC_INFOR_TEXT_FILE,m+10,m+24,80,10
      LTEXT "", IDC_INFOR_TEXT_FILE_VALU,m+90,m+24,120,10
      LTEXT "",IDC_INFOR_TEXT_FOLDER,m+10,m+34,80,10
      LTEXT "",IDC_INFOR_TEXT_FOLDER_VALU,m+90,m+34,100,10
      LTEXT "", IDC_INFOR_TEXT_COMPRESSFILE,m+10,m+44,80,10
      LTEXT "", IDC_INFOR_TEXT_COMPRESSFILE_VALU,m+90,m+44,100,10

      GROUPBOX "",IDC_INFOR_GROUP_THREE ,m,m+51,220,20
      LTEXT "",IDC_INFOR_TEXT_FILESIZE,m+10,m+58,80,10
      LTEXT "",IDC_INFOR_TEXT_FILESIZE_VALU ,m+90,m+58,100,10

      GROUPBOX "",IDC_INFOR_GROUP_FOUR,m,m+67,220,42
      LTEXT "",IDC_INFOR_TEXT_BUNCHSIZE,m+10,m+77,80,10
      LTEXT "",IDC_INFOR_TEXT_BUNCHSIZE_VALU ,m+90,m+77,100,10
      LTEXT "",IDC_INFOR_TEXT_REALSIZE,m+10,m+87,80,10
      LTEXT "",IDC_INFOR_TEXT_REALSIZE_VALU ,m+90,m+87,100,10
      LTEXT "",IDC_INFOR_TEXT_FILESPACE,m+10,m+97,80,10
      LTEXT "",IDC_INFOR_TEXT_FILESPACE_VALU,m+90,m+97,100,10

      GROUPBOX "",IDC_INFOR_GROUP_FIVE,m,m+123,220,20
      LTEXT "大小",IDC_INFOR_TEXT_COMPRES_SRATE,m+10,m+130,80,10
      LTEXT "——",IDC_INFOR_TEXT_COMPRES_SRATE_VALU,m+90,m+130,120,10

      GROUPBOX "",IDC_INFOR_GROUP_SIX ,m,m+139,220,50
      LTEXT "",IDC_INFOR_TEXT_COMPRESS_SPEED,m+10,m+154,80,10
      LTEXT "",IDC_INFOR_TEXT_COMPRESS_SPEED_VALU ,m+90,m+154,100,10
      LTEXT "路径",IDC_INFOR_TEXT_COMPRESS_SIZE,m+10,m+144,30,10
      LTEXT "",IDC_INFOR_TEXT_COMPRESS_SIZE_VALU,m+90,m+144,120,34
      LTEXT "固实",IDC_INFOR_TEXT_COMPRESS_TIME m+10,m+179,80,10
      LTEXT "",IDC_INFOR_TEXT_COMPRESS_TIME_VALU ,m+90,m+179,100,10

      GROUPBOX "",IDC_INFOR_GROUP_SEVEN ,m,m+184,220,20
      LTEXT "注释",IDC_INFOR_TEXT_COMPRESS_START,m+10,m+192,80,10
      LTEXT "",IDC_INFOR_TEXT_COMPRESS_START_VALU,m+90,m+192,100,10

      DEFPUSHBUTTON " 确定",IDC_INFOR_BUTTON_OK,m+60,m+210,50,15
      PUSHBUTTON "取消",IDC_INFOR_BUTTON_CANCEL,m+120,m+210,50,15
      PUSHBUTTON   "帮助",IDC_INFOR_BUTTON_HELP,m+190,m+210,50,15
END

