#include "ThemeDialogRes.h"
#include "../../GuiCommon.rc"

#define xc 220
#define yc 126

IDD_DIALOG_THEME MY_DIALOG
CAPTION "管理主题"
BEGIN
	LTEXT "可用的主题(&T)",   IDC_THEME_USED_TEXT, m+2,m+2,50,10
	CONTROL  "List1", IDC_EDITTEXT_THEME, "SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP|LVS_NOCOLUMNHEADER , 
	m,m+12,170,99
	DEFPUSHBUTTON   "选择(&S)", IDC_BUTTON_SEACHE_THEME, m+174,m+17,50,12
	DEFPUSHBUTTON	"添加(&A)", IDC_BUTTON_ADD_THEME,    m+174,m+31,50,12
	DEFPUSHBUTTON	"删除(&D)", IDC_BUTTON_DELETE_THEME, m+174,m+45,50,12
	DEFPUSHBUTTON	"确定",     IDC_BUTTON_ENSURE_THEME, m+174,m+71,50,12
	DEFPUSHBUTTON	"帮助",     IDC_BUTTON_HELP_THEME,   m+174,m+85,50,12
	CONTROL		"应用到压缩文件图标(&I)"IDC_CHECK_THEME_USE,MY_CHECKBOX,m,m+116,100,10
END

