#include "ConventionalPageRes.h"
#include "../../GuiCommon.rc"

#define xc 304
#define yc 207

IDD_PAGE_CONVENTIONAL MY_PAGE
CAPTION "常规"
BEGIN
	LTEXT      "目标路径（如果不存在将被创建）", IDC_STATIC_CON_PAGE_PATH, m, m, xc, 8
	COMBOBOX   IDC_CON_PAGE_COMBO_PATH, m, m + 12, xc - m - 60, 100, MY_COMBO_WITH_EDIT
	
	PUSHBUTTON "显示", IDC_CON_PAGE_BUTTON_SHOW_TREE, xc - m - 43, m -5, 60, 14, WS_GROUP
	PUSHBUTTON "新建文件夹", IDC_CON_PAGE_BUTTON_NEW_F, xc - m - 43, m + 11, 60, 14, WS_GROUP

	GROUPBOX "更新方式",IDC_CON_PAGE_GROUP_UPDATE,m, m + 30, 136, 50
    CONTROL  "解压并替换文件", IDC_CON_PAGE_BOX_UPDATE_ONE,MY_CHOOSEBOXTWO, m+5, m + 40, 100, 10
    CONTROL  "解压并更新文件", IDC_CON_PAGE_BOX_UPDATE_TWO, MY_CHOOSEBOXONE, m+5, m + 52, 100, 10
    CONTROL  "仅更新已经存在的文件", IDC_CON_PAGE_BOX_UPDATE_THREE, MY_CHOOSEBOXONE,m+5, m + 64, 100, 10

	GROUPBOX "覆盖方式",IDC_CON_PAGE_GROUP_COVER,m, m + 82, 136, 60
    CONTROL  "覆盖前询问", IDC_CON_PAGE_BOX_COVER_ONE,MY_CHOOSEBOXTWO, m+5, m + 92, 100, 10
    CONTROL  "没有提示直接覆盖", IDC_CON_PAGE_BOX_COVER_TWO, MY_CHOOSEBOXONE, m+5, m + 104, 100, 10
    CONTROL  "跳过已经存在的文件", IDC_CON_PAGE_BOX_COVER_THREE, MY_CHOOSEBOXONE,m+5, m + 116, 100, 10
	CONTROL  "自动重命名", IDC_CON_PAGE_BOX_COVER_FOUR, MY_CHOOSEBOXONE,m+5, m + 128, 100, 10

	GROUPBOX "其它",IDC_CON_PAGE_GROUP_OTHER,m, m + 145, 136, 50
    CONTROL  "解压压缩文件到子文件夹", IDC_CON_PAGE_BOX_OTHER_ONE,"Button", BS_AUTORADIOBUTTON | WS_TABSTOP |WS_GROUP | WS_DISABLED,m+5,m + 155, 100, 10
    CONTROL  "保留破坏的文件", IDC_CON_PAGE_BOX_OTHER_TWO, MY_CHOOSEBOXONE, m+5, m + 167, 100, 10
    CONTROL  "在资源管理器中显示文件", IDC_CON_PAGE_BOX_OTHER_THREE, MY_CHOOSEBOXONE,m+5, m + 179, 100, 10

	PUSHBUTTON "保存设置", IDC_CON_PAGE_BUTTON_SAVE, m+2, m + 200, 130, 12, WS_GROUP

	 CONTROL "", IDC_CON_PAGE_TREE, "SysTreeView32",
          TVS_HASBUTTONS | TVS_HASLINES  | TVS_EDITLABELS | WS_BORDER |WS_CHILD|WS_VISIBLE, xc - m - 140, m + 32, 157,180,WS_EX_CLIENTEDGE
		  




END


