#include "GeneralPageRes.h"
#include "../../GuiCommon.rc"

#define xc 240
#define yc 150

IDD_PAGE_GENREAL MY_PAGE
CAPTION "常规"
BEGIN
	LTEXT      "压缩文件名(&A)", IDC_GEN_PAGE_TEXT_FILE, m, m, xc, 8
	COMBOBOX               IDC_GEN_PAGE_COMBO_FILE, m, m + 12, xc - m +10, 100, MY_COMBO_WITH_EDIT
	PUSHBUTTON  "浏览(&B)..",    IDC_GEN_PAGE_BUTTON_SEARCH,xc - m - 32, m -5, 50, 14
	GROUPBOX "压缩文件格式",  IDC_GEN_PAGE_GROUP_PRESSSTYLE,m, m + 32, 100, 53
	CONTROL   "7Z(&7)",       IDC_GEN_PAGE_BOX_PRESSSTYLE_ONE ,MY_CHOOSEBOXONE, m+5, m + 71, 40, 10
	CONTROL      "TAR(&T)",    IDC_GEN_PAGE_BOX_PRESSSTYLE_TWO ,MY_CHOOSEBOXONE, m+5, m + 58, 40, 10
	CONTROL   "ZIP(&Z)",      IDC_GEN_PAGE_BOX_PRESSSTYLE_THREE ,MY_CHOOSEBOXONE, m+5, m + 45, 40, 10

	LTEXT      "更新方式(&U)", IDC_GEN_PAGE_TEXT_UPDATESTYLE, m + 110, m + 32, 60, 8
	COMBOBOX				   IDC_GEN_PAGE_COMBO_UPDATESTYLE,m +110 ,m +42, xc - m - 103, 100, MY_COMBO_WITH_EDIT
	LTEXT      "压缩分卷大小字节(&V)", IDC_GEN_PAGE_TEXT_PRESSBYTE, m, m+115+2, xc, 10
	COMBOBOX        IDC_GEN_PAGE_COMBO_PRESSBYTE, m, m + 125+2, 100, 100, MY_COMBO_WITH_EDIT
	LTEXT      "压缩等级", IDC_GEN_PAGE_TEXT_PRESSLEVEL, m, m + 88+2, xc, 8
	COMBOBOX				IDC_GEN_PAGE_COMBO_PRESSLEVEL,m ,m +98+2, 100, 100, MY_COMBO_WITH_EDIT

	GROUPBOX "压缩选项",     IDC_GEN_PAGE_GROUP_EDIT,m + 110,m + 62,xc - m - 103, 80
	CONTROL  "压缩后删除源文件(&L)",          IDC_GEN_PAGE_BOX_EDIT_ONE,MY_CHECKBOX,m +115, m+72,110,10
	CONTROL  "压缩后测试压缩文件(&E)",  IDC_GEN_PAGE_BOX_EDIT_TWO,MY_CHECKBOX,m +115, m+85,120,10
	CONTROL  "压缩共享文件(&S)",        IDC_GEN_PAGE_BOX_EDIT_THREE,MY_CHECKBOX,m +115, m+98,110,10
	LTEXT     "(以下功能仅限7Z格式)", IDC_GEN_PAGE_TEXT_7ZGS, m+120, m+114, 100, 8
	CONTROL  "创建自解压格式压缩文件(&T)",      IDC_GEN_PAGE_BOX_EDIT_FOUR,MY_CHECKBOX,m +115, m+128,112,10
	//CONTROL  "创建固实压缩文件(&T)",      IDC_GEN_PAGE_BOX_EDIT_FIVE,MY_CHECKBOX,m +115, m+111,112,10
END
